{% extends "menu.html" %} 

{% block app_content %} 
<div class="jumbotron">
    <h2>Chain of responsibility (Цепочка обязанностей)</h2>
    <p>Позволяет избежать жесткой зависимости отправителя запроса от его получателя, 
        при этом запрос начинает обрабатываться одним из нескольких объектов. 
        Объекты-обработчики связываются в цепочку, и запрос передается по цепочке, 
        пока кокой-то объекта его не обработает.</p>
    <h1>Принцип применения</h1>
    <img class="img-thumbnail" width="100%" src="../static/example.png" alt="example">
    <p>Знает язык - переводит и возвращает ответ.
        Не знает - передает следующему объекту(переводчику).
        И так до тех пор, пока не встретит либо терминальный объект
        <span class="text-muted">(последний обработчик, который, как правило, сообщает об ошибке обработки запроса)</span> 
        либо попросту запрос теряется.</p>
    <p>
        <h2 class="text-danger">Важное допущение!</h2>
        <p>
            У меня нет достаточно времени и ресурсов, чтобы написать определитель языка. Поэтому я использую библиотечную функцию.
            По хорошему для каждого объекта-обработчика должен быть свой механизм определения языка.
        </p>
        <a class="btn btn-primary btn-lg" href="{{url_for('translator')}}" role="button">Let's try!</a>
        <a class="btn btn-primary btn-lg" href="{{url_for('about')}}" role="button">Get more information!</a>
    </p>
  </div>
{%endblock %}