{% extends 'bootstrap/base.html' %} {% block styles %}
{{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('.static', filename='css/style.css')}}"
/>
{% endblock %} {% block title %} {% if title %}{{ title }}
{% else %} You are stupid, man, send title of page {% endif %} {% endblock %} 
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img width="25" alt="Brand" src='../static/favicon.png'>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('translator')}}">Translator</a></li>
        </ul>
        <p class="navbar-text navbar-right">Pattern <a href="{{url_for('about')}}" class="navbar-link">Chain of responsibility</a></p>
      </div>
    </div>
  </nav>
{% endblock %} {% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
        </div>
      {% endfor %} 
    {% endif %} 
  {% endwith %}
  {# application content needs to be provided in the app_content block #} 
  {% block app_content %}

  {% endblock %}
</div>
{% endblock %} {% block scripts %}
{{ super() }}
<script src="{{url_for('.static', filename='js/myscript.js')}}"></script>
{% endblock %}
